/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2018, 12:57:36 PM
    Author     : hanli
*/
.root{
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    
    /*  THE NEURAL SWATCH IS USED FOR THE BACKGROUNDS IN PLACES WHERE
        THERE ARE NO OTHER CONTROLS*/
    SWATCH_NEUTRAL:             #DDE9E8;
    /*  THE COMPLEMENT SWATCH IS USED FOR BACKGROUND AREAS OF THINGS
        LAYERED ON TOP OF THE BACKGROUND */
    SWATCH_COMPLEMENT:          #CAE9FF;
    /*  THE ACCENT SWATCH IS USED FOR BORDERS OF THINGS LIKE TOOLBAR
        THAT ARE USED FOR ORGANIZING GROUPS OF COMPONENTS */
    SWATCH_ACCENT:              #1B4965;
    SWATCH_ACCENT_ALT:          #4E7C98;
    /*  THIS BLEND SWATCH IS USED FOR GRADIENT TRANSITIONS */
    SWATCH_BLEND:               #5FA8D3;
    
    -fx-font-family: "Roboto";
}

/* FIRST WE HAVE THE CONTROLS THAT THE DESKTOP JAVA FRAMEWORK USES */

/* THE TOOLBAR RUNNING THE LENGTH OF THE TOP OF THE UI */
.djf_top_toolbar {
    -fx-background-color:   SWATCH_NEUTRAL;
    -fx-border-color:       SWATCH_ACCENT;
    -fx-border-width:       2;
    -fx-border-radius:      15;
}
/* A TOOLBAR IN THE TOP TOOLBAR LIKELY WITH BUTTONS */
.djf_toolbar_pane {
    -fx-background-color:   SWATCH_COMPLEMENT;
    -fx-border-color:       SWATCH_ACCENT;
    -fx-border-width:       2;
    -fx-border-radius:      15;
    -fx-background-radius: 15;
}
/* A BUTTON WITH AN ICON PUT IN A TOP TOOLBAR */
.djf_icon_button {
    -fx-background-color:   transparent;
    -fx-padding:            0;
}
.djf_icon_button:hover {
    -fx-background-color: linear-gradient(SWATCH_COMPLEMENT, SWATCH_BLEND);    
}
.djf_welcome_banner {
    -fx-border-color:transparent;
    -fx-border-width:10;
}
.djf_welcome_header {
    -fx-font-size: 32pt;
    -fx-background-color: transparent;
}
.djf_welcome_recent_pane {
    -fx-padding: 20 100 20 20;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button {
    -fx-font-size: 14pt;
    -fx-underline: true;
    -fx-text-fill: SWATCH_ACCENT;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button:hover {
    -fx-text-fill: SWATCH_ACCENT_ALT;
}
.djf_welcome_recent_button:pressed {
    -fx-text-fill: SWATCH_NEUTRAL;
}
.djf_welcome_new_pane {
    -fx-padding: 10px, 0px, 0px, 0px;
    -fx-background-color:transparent;
}
.djf_welcome_new_button {
    -fx-font-size:20pt;
    -fx-background-color:transparent;
    -fx-border-width:2px;
    -fx-border-color:black;
    -fx-border-radius:15px;
}
.djf_welcome_new_button:hover{
    -fx-background-color: SWATCH_COMPLEMENT;
}
.djf-welcome_new_button:pressed{
    -fx-background-color: SWATCH_NEUTRAL;
}

.csg_pane {
    -fx-padding: 10px;
}

.csg_header_label{
    -fx-font-weight: bold;
    -fx-font-size: 19px;
}

.csg_rb{
    -fx-font-weight: bold;
}

.csg_column{
    -fx-color: SWATCH_NEUTRAL;
}

.csg_center_column{    
    -fx-color: SWATCH_NEUTRAL;
    -fx-alignment: CENTER;
}

.csg_button{
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

.table-view .column-header {
    -fx-background-color : SWATCH_NEUTRAL;
}

.csg_time_column{
    -fx-font-weight: bold;
    -fx-text-fill:white;    
    -fx-background-color : SWATCH_ACCENT;

}

.csg_day_of_week_column{
    -fx-color: SWATCH_NEUTRAL;
    -fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab
{
    -fx-padding: 5px, 0px, 5px, 0px;
    -fx-background-color: white;
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
    -fx-box-border: transparent;
}

.tab-pane .tab:selected
{
    -fx-background-color: #FF6347;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}