/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2018, 12:57:36 PM
    Author     : hanli
*/
.root{
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    
    /*  THE NEURAL SWATCH IS USED FOR THE BACKGROUNDS IN PLACES WHERE
        THERE ARE NO OTHER CONTROLS*/
    SWATCH_NEUTRAL:              #fbceb1;
    /*  THE COMPLEMENT SWATCH IS USED FOR BACKGROUND AREAS OF THINGS
        LAYERED ON TOP OF THE BACKGROUND */
    SWATCH_COMPLEMENT:          #faf0e6;
    /*  THE ACCENT SWATCH IS USED FOR BORDERS OF THINGS LIKE TOOLBAR
        THAT ARE USED FOR ORGANIZING GROUPS OF COMPONENTS */
    SWATCH_ACCENT:              #e9967a;
    SWATCH_ACCENT_ALT:          #4E7C98;
    /*  THIS BLEND SWATCH IS USED FOR GRADIENT TRANSITIONS */
    SWATCH_BLEND:               #5FA8D3;
    
    -fx-font-family: "Roboto";
}

/* FIRST WE HAVE THE CONTROLS THAT THE DESKTOP JAVA FRAMEWORK USES */

/* THE TOOLBAR RUNNING THE LENGTH OF THE TOP OF THE UI */
.djf_top_toolbar {
    -fx-background-color:   SWATCH_NEUTRAL;
    -fx-border-color:       SWATCH_ACCENT;
    -fx-border-width:       2;
    -fx-border-radius:      15;
}
/* A TOOLBAR IN THE TOP TOOLBAR LIKELY WITH BUTTONS */
.djf_toolbar_pane {
    -fx-background-color:   SWATCH_COMPLEMENT;
    -fx-border-color:       SWATCH_ACCENT;
    -fx-border-width:       2;
    -fx-border-radius:      15;
    -fx-background-radius: 15;
}
/* A BUTTON WITH AN ICON PUT IN A TOP TOOLBAR */
.djf_icon_button {
    -fx-background-color:   transparent;
    -fx-padding:            0;
}
.djf_icon_button:hover {
    -fx-background-color: linear-gradient(SWATCH_COMPLEMENT, SWATCH_BLEND);    
}
.djf_welcome_banner {
    -fx-border-color:transparent;
    -fx-border-width:10;
}
.djf_welcome_header {
    -fx-font-size: 32pt;
    -fx-background-color: transparent;
}
.djf_welcome_recent_pane {
    -fx-padding: 20 100 20 20;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button {
    -fx-font-size: 14pt;
    -fx-underline: true;
    -fx-text-fill: SWATCH_ACCENT;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button:hover {
    -fx-text-fill: SWATCH_ACCENT_ALT;
}
.djf_welcome_recent_button:pressed {
    -fx-text-fill: SWATCH_NEUTRAL;
}
.djf_welcome_new_pane {
    -fx-padding: 10px, 0px, 0px, 0px;
    -fx-background-color:transparent;
}
.djf_welcome_new_button {
    -fx-font-size:20pt;
    -fx-background-color:transparent;
    -fx-border-width:2px;
    -fx-border-color:black;
    -fx-border-radius:15px;
}
.djf_welcome_new_button:hover{
    -fx-background-color: SWATCH_COMPLEMENT;
}
.djf-welcome_new_button:pressed{
    -fx-background-color: SWATCH_NEUTRAL;
}

.csg_pane {
    -fx-border-color: black;
    -fx-padding: 20px;
    -fx-margin: 20px;
    -fx-background-color: #fff5ee;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.csg_tabpane{
    -fx-padding: 0 10 0 10;
    -fx-background-color: #faf0e6;
}

.csg_header_label{
    -fx-font-weight: bold;
    -fx-font-size: 19px;
}

.csg_bold_label{
    -fx-font-weight: bold;    
}

.csg_rb{
    -fx-font-weight: bold;
}

.csg_column{
    -fx-color: SWATCH_NEUTRAL;
}

.csg_center_column{    
    -fx-color: SWATCH_NEUTRAL;
    -fx-alignment: CENTER;
}

.csg_small_button{
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 2 10 2 10;
    -fx-margin: 0;
    -fx-color: #fff5ee;
}

.csg_button{
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-color: #fff5ee;

}

.csg_large_button{
    -fx-background-radius: 5px;
    -fx-color: #fff5ee;
}

.csg_text_field{
    -fx-background-radius: 5px;    
}

.csg_text_area{
    -fx-background-radius: 5px; 
}

.titled-pane > .title 
{
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color, #fffafa;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 10px;
    -fx-font-weight: bold;
}

.csg_cb{
    -fx-background-radius: 5px;    
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.combo-box-base > .arrow-button  {
    -fx-background-color: transparent;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px; 
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

.csg_titledpane{
    -fx-background-radius: 5px;    
}

.table-view .column-header {
    -fx-background-color : SWATCH_NEUTRAL;
}

.csg_time_column{
    -fx-font-weight: bold;
    -fx-text-fill:white;    
    -fx-background-color : SWATCH_ACCENT;

}

.csg_day_of_week_column{
    -fx-color: SWATCH_NEUTRAL;
    -fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-margin: 0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #faf0e6;
}

.tab-pane {
    -fx-padding: 10px 0px 0px 0px;
    -fx-background-color: #faf0e6;
}

.tab-pane .tab
{
    -fx-margin: 0;
    -fx-padding: 5px, 0px, 5px, 0px;
    -fx-background-color: #efdecd;
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
    -fx-box-border: transparent;
    -fx-border-width: 3px;
    -fx-border-color: SWATCH_ACCENT;
}

.tab-pane .tab:selected
{
    -fx-background-color: #ffa07a;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.root { 
    -fx-focus-color: #ffcba4; 
}
